<!DOCTYPE html>
<html>
<head>
    <title>
        Leaderboards page
    </title>
</head>
    <body>
        <div class="container-fluid">
            <a routerLink="/">
                Back
            </a>
            <h1>Leaderboards</h1>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Temp name</td>
                            <td>1234</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
