<div bsModal #gameOverModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="gameOverModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Game Over, You Scored {{score}}</h4>
            </div>
            <div class="modal-body">
                TODO: Put stuff here
            </div>
        </div>
    </div>
</div>
<div>
    <game-view></game-view>
    <div class="ui">
        <div class="row row-centered">
            <div class="col-xs col-centered">
                <span class="title">{{score}}</span>
            </div>
        </div>
        <div class="icon-row row row-centered">
            <div class="icon-col col-centered">
                <a class="center-button" routerLink="/">
                    <span class="grow icon-sm glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>