<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/2.0.0/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <nav class="navbar-fluid navbar-default navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">StackClone</a>
			<p class="navbar-text">Learn to make the webs look good for HTH</p>
			<p class="navbar-right navbar-text"><a href="/auth/google">Login</a></p>
		</div>
	</nav>
	<canvas id="GameView">

  </body>
  <script src="js/Game.js"></script>
 </html>
