.infront {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
}

.infront > a {
    color: white;
}

.infront > a:hover {
    color: lightgray;
}

canvas {
    width: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    /*overflow-y: hidden;*/
    background-color: mediumpurple;
}




/*stevens shit dont touch*/      
html, body, .container {
    height:100%;
}

.container {
    display:table;
}

.vertical-center-row {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.color {
    color: black;
}


.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}



/*end of stevens shit u can touch again*/
