html, body {
    width:100%;
    height:100%;
}

html {
    display:table;
}

body {
    display:table-cell;
    vertical-align:middle;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #56a3a3;
}

game-view, .ui {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

.icon-sm {
    font-size: 50px;
    color:white;
}

.icon {
    font-size: 200px;
    color:white;
}

.icon-row {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.play-row {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
}

.play-col  {
    transform: translateY(-50%);
}

.icon-col {
    width: 300px
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    text-align: center;
    margin-right:-4px;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: white;
    text-transform: capitalize;
}